* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  color: white;
  background-color: black;
}

body, input, select, textarea, button {
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

img {
  width: 140px;
}

h1 {
  margin: 40px 0 10px;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

i, button {
  display: block;
}

i {
  font-size: 26px;
  margin-bottom: 40px;
}

button {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding:16px 8px;
  border: none;
  border-radius: 4px;
  background: blueviolet;
  transition: filter 0.1s;
  cursor: pointer;
}

button:not(:disabled):hover {
  filter: brightness(1.1);
}